*~
*.pro.user
build
build-debug
build-ctlos-settings-manager-Desktop-Default
build-ctlos-settings-manager-Desktop
build-ctlos-settings-manager-Qt4_Desktop
build-ctlos-settings-manager-Desktop-Debug
build-ctlos-settings-manager-Qt4_Desktop-Debug
*.qm
.directory
pkg
*.pkg.tar.xz
CMakeLists.txt.user
.vscode/*
.kdev4/*
.directory
ctlos-settings-manager.kdev4
